agm-map {
  height: 20em;
}
mat-card{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.5em;
  line-height: 2;
  text-align: center;

}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}

agm-map {
  height: 400px;
}
