
<h1>All Yours Suggestion Rides:</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card *ngFor="let ride of rides" class="card-picture">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Origin:</b> {{ ride.origin }}</p>
      <p><b>Destination:</b> {{ ride.dest }}</p>
      <p> <mat-icon fxFlex="10%">calendar_today</mat-icon><b>Date:</b> {{ride.date}} </p>
      <p> <mat-icon fxFlex="10%">access_time</mat-icon> <b>Time:</b>  {{ride.time}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Delete The Ride</button>
      </mat-card-actions>
  </mat-card>
</div>
