<mat-card>
    <p>
    Car search
    </p>
 <br>
    <form class="example-form" >
      <mat-form-field class="example-full-width" text >
        <input matInput placeholder="Enter Manufacturer and Model" [(ngModel)]="this.car.name" name="car.name">
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="onCarSearch()">Search</button>
  </mat-card>

<mat-card>
  <div>Search results</div>
<tr *ngFor="let car of cars">
        <td mat-cell>{{car[1]}}</td>
        </tr>
</mat-card>

