<mat-card>
  <p>
  Enter some details
  </p>

  <form class="example-form" >
    <mat-form-field class="example-full-width" text >
      <input matInput placeholder="From" [(ngModel)]="rideSearch.origin" name="origin">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="To" [(ngModel)]="rideSearch.dest" name="dest">
    </mat-form-field>

    <mat-form-field class="date">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="rideSearch.date" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Choose time" atp-time-picker type="time" [(ngModel)]="rideSearch.time" name="time"/>
    </mat-form-field>
    <button mat-raised-button (click)="onSearchRide()">Look for a ride</button>
  </form>
</mat-card>

<!-- <div id='graph' style="width:300px;height: 300px;" appDestGraph></div> -->
<svg width='600' height='600' appDestGraph></svg>

<mat-card>

<div>
  <table mat-table class="mat-elevation-z8">
    <td class= "td_cell" mat-cell>origin</td>
    <td class= "td_cell" mat-cell>dest</td>
    <td class= "td_cell" mat-cell>time</td>
    <td class= "td_cell" mat-cell>date</td>
    <td class= "td_cell" mat-cell>driver</td>
    <tr *ngFor="let ride of rides">
    <td mat-cell>{{ride.origin}}</td>
    <td mat-cell>{{ride.dest}}</td>
    <td mat-cell>{{ride.time}}</td>
    <td mat-cell>{{ride.date}}</td>
    <td mat-cell>{{ride.driver}}</td>
    </tr>
    </table>
  </div>
</mat-card>



