<mat-card>
  <img
    src="/assets/images/avatar.png"
    alt="Boss"
    style="width:10%"
    class="avatar"
  />
  <mat-slide-toggle [(ngModel)]="isEdit" [checked]="isEdit"
    >Edit</mat-slide-toggle>
  <div class="profileOrange">
    <div>
      <mat-icon>face</mat-icon>

      <input *ngIf="isEdit" type="text" [(ngModel)]="user.fullname" />
      <span *ngIf="!isEdit"> {{ user.fullname }}</span>
    </div>
    <div>
      <mat-icon>call</mat-icon>
      <input *ngIf="isEdit" type="tel" [(ngModel)]="user.phone" />
      <span *ngIf="!isEdit"> {{ user.phone }}</span>
    </div>
    <div>
      <mat-icon>email</mat-icon>
      <input *ngIf="isEdit" type="email" [(ngModel)]="user.email" />
      <span *ngIf="!isEdit"> {{ user.email }}</span>
    </div>
  </div>
  <div>
    <mat-icon>home</mat-icon>
    <!-- <input *ngIf="isEdit" type="text" [(ngModel)]="user.address" /> -->
    <span *ngIf="!isEdit"> {{ user.lat }} / {{ user.long }}</span>
  </div>
  <div *ngIf="isEdit">
    <button (click)="save()">Update Profile</button>
  </div>

  <div>
    <button mat-button color="warn" (click)="delete()">
      Delete my profile
    </button>
  </div>
</mat-card>
<mat-form-field appearance="outline">
    <mat-label>All users</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of users" [value]="user.firstname">{{user.firstname}} {{user.lastname}}</mat-option>
  </mat-autocomplete>

