<mat-card>
  <img
    src="/assets/images/avatar.png"
    alt="Boss"
    style="width:10%"
    class="avatar"
  />
  <mat-slide-toggle [checked]="isEdit" >Edit</mat-slide-toggle>
  <div class="profileOrange">
    <div>
      <mat-icon>face</mat-icon>

      {{ user.firstname }} {{ user.lastname }}
    </div>
    <div><mat-icon>call</mat-icon> {{ user.phone }}</div>
    <div><mat-icon>email</mat-icon> {{ user.email }}</div>
  </div>
  <div>
    <mat-icon>home</mat-icon>
    {{ user.country }} {{ user.city }} {{ user.street }}
  </div>
  <div *ngIf="isEdit">
      <button (click)="save()">Update Profile</button>
  </div>
</mat-card>
