
<mat-card>
  <div class="week-selector">
    <h6>My Rides:</h6>
  </div>

 <!-- <mat-form-field class="date">
    <input matInput [matDatepicker]="picker" placeholder="Well... it's Sunday" [(ngModel)]="ride.date" name="date">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
   -->

  <button (click)="getEntries()">x</button>

  <!-- <div class="weekDays-selector">
      <h6>Choose the days:</h6>
    <input type="checkbox" id="weekday-sun" class="weekday" (click)="addSelectedTab('Sunday')"/>
    <label for="weekday-sun">S</label>
    <input type="checkbox" id="weekday-mon" class="weekday" (click)="addSelectedTab('Monday')" />
    <label for="weekday-mon">M</label>
    <input type="checkbox" id="weekday-tue" class="weekday" (click)="addSelectedTab('Tuesday')" />
    <label for="weekday-tue">T</label>
    <input type="checkbox" id="weekday-wed" class="weekday" (click)="addSelectedTab('Wednesday')" />
    <label for="weekday-wed">W</label>
    <input type="checkbox" id="weekday-thu" class="weekday" (click)="addSelectedTab('Thursday')" />
    <label for="weekday-thu">T</label>
    <input type="checkbox" id="weekday-fri" class="weekday" (click)="addSelectedTab('Friday')"  />
    <label for="weekday-fri">F</label>
    <input type="checkbox" id="weekday-sat" class="weekday" (click)="addSelectedTab('Saturday')"/>
    <label for="weekday-sat">S</label>
  </div>
    <mat-tab-group [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Leave home time:" atp-time-picker
             type="time" name="leaveHome" [(ngModel)]="ride1.time"/>
        </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Leave college time:" atp-time-picker
               type="time" name="leavecollege" [(ngModel)]="ride2.time"/>
          </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="From" name="from" [(ngModel)]="ride1.origin">
                </textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="To" name="to" [(ngModel)]="ride2.dest"></textarea>
              </mat-form-field>

                <mat-form-field class='note' appearance="outline">
                    <mat-label>note</mat-label>
                    <input matInput placeholder="Leave a note">
                </mat-form-field>
      </form>
        <button mat-raised-button
          class="example-delete-tab-button"
          (click)="saveChanges(tab,departure)">
          Save changes
        </button>
        <br>
        Contents for {{tab}}
    </mat-tab>
  </mat-tab-group> -->

  <!-- /* This table just gives out all of the current rides on the DB */
    <div>
        <table mat-table class="mat-elevation-z8">
          <td class="td_cell" mat-cell>Origin</td>
          <td class="td_cell" mat-cell>Dest</td>
          <td class="td_cell" mat-cell>Time</td>
          <td class="td_cell" mat-cell>Date</td>

          <tr *ngFor="let user of users">
            <td mat-cell>{{ user.origin }}</td>
            <td mat-cell>{{ user.dest }}</td>
            <td mat-cell>{{ user.time }}</td>
            <td mat-cell>{{ user.date }}</td>

          </tr>
        </table>
      </div>
  </mat-card>
  -->
