.weekDays-selector input {
  display: none!important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 35px;
  width: 25px;
  margin-right: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: rgb(252, 184, 58);
  color: #ffffff;
}

.example-full-width {
  margin-top: 10px;
  width: 100%;
}

.fromTo{
  width: 100%;
  font-size: 1.5em;
}

.one {
  width: 50%;
  height: 200px;
  background: red;
  float: left;
}
.two {
  margin-left: 30%;
  height: 200px;
  background: black;
}

mat-form-field{
  font-size: 15px;
}

.note{
  font-size: 15px;
  width: 100%;
}

h6{
  text-align: center;
  margin: auto;
}
