<mat-card>
  <mat-toolbar>Register-step 1</mat-toolbar>
  <form class="example-form">
        <mat-form-field class="example-full-width">
        <input name="firstName" [(ngModel)]="user.firstName" placeholder="Firstname" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="lastName" [(ngModel)]="user.lastName" placeholder="Lastname">
          </mat-form-field>
          <mat-form-field>
              <input matInput name="email" [(ngModel)]="user.email" placeholder="Email" [formControl]="emailFormControl"
                     [errorStateMatcher]="matcher">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          <mat-form-field class="example-full-width">
          <input matInput name="password" [(ngModel)]="user.password" placeholder="Password">
          </mat-form-field>
        <button (click)="onAddUser()">Register</button>
  </form>
</mat-card>





