.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.date {
  min-width: 150px;
  max-width: 500px;
  width: 100%
}
button {
  background: orange;
}
.date-list{
  font-size: 14px;
  text-align: left;
}
mat-card{
  width: 50%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.5em;
  line-height: 2;
  text-align: center;
  background-image: url("/assets/images/1.png");
  opacity: 0.80;
}
