<mat-card>
    <p>
    Suggest a ride
    </p>

    <form class="example-form" >
      <mat-form-field class="example-full-width" text >
        <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="From" (onAddressChange)="handleAddressChange($event)"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="To" (onAddressChange)="handleAddressChange($event)"/>
      </mat-form-field>

      <mat-form-field class="date">
       <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ride.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Choose time" atp-time-picker type="time" [(ngModel)]="ride.time" name="time"/>
      </mat-form-field>
      <button mat-raised-button (click)="onAddRide()">Suggest</button>
    </form>
  </mat-card>
  <head>
    <link rel="create-ride.component" href="create-ride.component.css" />
  </head>

  <body ng-app="oto" ng-controller="MainController">
    <p>{{ ride.origin }}</p>
    <p>{{ ride.dest }}</p>
    <p>{{ ride.date }}</p>
    <p>{{ ride.time }}</p>
  </body>
