<mat-card>
  <p>
    Suggest a ride
  </p>

  <form class="example-form">
    <mat-form-field class="example-full-width" text>
      <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="From"
        (onAddressChange)="handleOriginAddressChange($event)" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="To"
        (onAddressChange)="handleDestAddressChange($event)" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Choose time" atp-time-picker type="time" [(ngModel)]="ride.time" name="time" />
    </mat-form-field>

    <mat-form-field class="date">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ride.date" name="date"
        (dateInput)="onDatePicker($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <p>Selected Dates:</p>
    <ul class="date-list" *ngFor="let date of this.dates; index as i;">
      <span>
        <li style="display: inline; margin-right: 5px">{{date}}</li>
        <button (click)="removeDate(i)">X</button>
      </span>
    </ul>

    <button mat-raised-button (click)="onAddRide()" type="reset">Suggest</button>
  </form>
</mat-card>

<head>
  <link rel="create-ride.component" href="create-ride.component.css" />
</head>

<body ng-app="oto" ng-controller="MainController">
  <p>{{ ride.origin }}</p>
  <p>{{ ride.dest }}</p>
  <p>{{ ride.date }}</p>
  <p>{{ ride.time }}</p>
</body>