<mat-card>
    <p>
    Suggest a ride
    </p>

    <form class="example-form" >
      <mat-form-field class="example-full-width" text >
        <input matInput placeholder="From" [(ngModel)]="ride.origin" name="origin">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="To" [(ngModel)]="ride.dest" name="dest">
      </mat-form-field>

      <mat-form-field class="date">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ride.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Choose time" atp-time-picker type="time" [(ngModel)]="ride.time" name="time"/>
      </mat-form-field>
      <button mat-raised-button (click)="onAddRide()">Suggest</button>
    </form>
  </mat-card>
  <p>{{ ride.origin }}</p>
  <p>{{ ride.dest }}</p>
  <p>{{ ride.date }}</p>
  <p>{{ ride.time }}</p>
